name: Node.js CI

on:
  push:
    branches: [ dev ]
    paths-ignore:
      - '.github/**'
  pull_request:
    branches: [ dev ]
    paths-ignore:
      - '.github/**'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js 22.x
      uses: actions/setup-node@v6
      with:
        node-version: '22.x'
    - run: npm ci
    - run: npm run build
    - run: npm test:local
